@import "chrome://global/skin/aboutNetError.css"; /* sometimes "global" folder */
@import "chrome://browser/skin/aboutNetError.css"; /* sometimes "browser" ¯\_(ツ)_/¯ */
@import "chrome://browser/content/usercontext/usercontext.css";

:root {
    --stg-icon: url("/icons/icon.svg");
}

/* General Rules and Resets */
body {
    font: message-box;
    font-size: 14px;
}

.title {
    background-image: none;
}

main {
    background: var(--stg-icon) no-repeat 0px 10px;
    -moz-context-properties: fill;
    fill: var(--in-content-deemphasized-text);
    background-size: 128px;
    margin-inline-start: -150px;
    padding-inline-start: 170px;
    max-width: 700px;
}

@media only screen and (max-width: 1300px) {
    main {
        background: none;
    }

    /* for a mid sized window we have enough for this but not our image */
    .title {
        background-image: var(--stg-icon);
        -moz-context-properties: fill;
        fill: var(--in-content-deemphasized-text);
    }
}

html {
    box-sizing: border-box;
}

.block-content {
    display: flex;
    align-items: center;
    font-weight: bold;
    word-break: break-word;
    background: #efedf0; /* Grey 20 */
    border-radius: 2px;
    line-height: 1.5;
    padding-block-end: 0.5rem;
    padding-block-start: 0.5rem;
    padding-inline-end: 0.5rem;
    padding-inline-start: 0.5rem;
}

.block-content:not(:first-child) {
    margin-top: .3em;
}

@media (prefers-color-scheme: dark) {
    .block-content {
        background: #38383d; /* Grey 70 */
        color: #eee; /* White 20 */
    }
}

.block-content img {
    block-size: 16px;
    inline-size: 16px;
    min-width: 16px;
    margin-inline-end: 6px;
    position: relative;
    pointer-events: none;
}

button:disabled {
    cursor: not-allowed;
}

/* END */
