body {
    font-family: Helvetica, Arial, sans-serif;
}

#main {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}

img {
    display: inline-block;
}

img + img {
    margin-top: 20px;
}
