body {
    background-color: #fbfbfb;
    padding: 0 4px;
}

.h-margin-left-10 {
    margin-left: 10px;
}

hr {
    margin: 10px -4px;
    color: transparent;
    border-top: 1px solid #e3e3e3;
}

.is-hidden {
    display: none !important;
}
