:root {
    --in-content-box-border-color: #d7d7db;
    --in-content-box-background: #fff;
}

input[type="checkbox"] {
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid var(--in-content-box-border-color);
    border-radius: 2px;
    margin: 0;
    margin-inline-end: 10px;
    background-color: var(--in-content-box-background);
    background-position: center;
    background-repeat: no-repeat;
}

input[type="checkbox"]:not(:disabled):hover {
    border-color: var(--in-content-border-focus);
}

input[type="checkbox"]:checked {
    background-image: url("chrome://global/skin/icons/check.svg");
    -moz-context-properties: fill;
    fill: #2292d0;
}

input[type="checkbox"]:disabled {
    opacity: 0.5;
}

input[type="checkbox"]:-moz-focusring + label:before {
    outline: 1px dotted;
}


/* fixes */
input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
}

