@charset "UTF-8";

@import "startup.css";
@import "chrome://browser/content/usercontext/usercontext.css";

html {
    font: message-box;
    overflow-y: auto;
}

img {
    &:not(.no-fill) {
        -moz-context-properties: fill;
        fill: currentColor;
    }

    &:not([src]) {
        visibility: hidden;
    }
}

hr {
    &:first-child,
    &:last-child,
    &:only-child,
    + & {
        display: none;
    }
}

input {
    &[type="checkbox"],
    &[type="radio"] {
        height: calc(var(--bulma-body-font-size) * 1.05);
        width: calc(var(--bulma-body-font-size) * 1.05);
    }
}

.drag-over {
    outline: 2px dashed var(--bulma-info-50) !important;
}

.no-outline {
    outline: none;
}

.cursor-help {
    cursor: help;
}

.clip-text {
    mask: var(--clip-text-mask);
    overflow: hidden;
}

.hidden-empty:empty,
.hidden-empty-block:not(:has(*)) {
    display: none !important;
}

.brackets-round {
    &::before {
        content: "(";
    }
    &::after {
        content: ")";
    }
}

.colon::after {
    content: ":";
}

.is-underline-dotted {
    text-decoration: underline dotted;
}

.gap-indent {
    gap: var(--gap-indent);
}

.rotate-180 {
    transform: rotate(180deg);
}

.is-sticky::after {
    content: '📌';
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 10px;
    line-height: 1;
}

.discarded-color {
    color: var(--discarded-text-color);
}

.word-break-word {
    word-break: break-word;
}

.word-wrap-anywhere {
    word-wrap: anywhere;
}

.white-space-pre-line {
    white-space: pre-line;
}

/*BULMA REWRITE*/
.image.is-16x16 {
    --image-size: 16px;
    min-width: var(--image-size);
    min-height: var(--image-size);

    img {
        max-width: var(--image-size);
        max-height: var(--image-size);
    }
}

.subtitle, .title {
    --bulma-title-weight: var(--bulma-weight-medium);
}

.icon-text {
    --bulma-icon-text-spacing: var(--gap-indent-mini);
}

.checkbox, .radio {
    display: inline-flex;
    gap: var(--gap-indent-mini);
}

.as-column {
    &.checkboxes,
    &.radios {
        flex-direction: column;
        align-items: start;
        gap: var(--bulma-block-spacing);

        > hr {
            align-self: normal;
            margin: 0;
        }
    }
}

.dropdown {
    &.focus-within:focus-within .dropdown-menu {
        display: block;
    }

    .dropdown-item {
        font-size: var(--bulma-body-font-size);
    }
}

/*BULMA REWRITE END*/

/* circle-progress */
@property --progress-percent {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

.circle-progress {
    --progress-color: var(--current-color, var(--bulma-body-color));
    --progress-duration: var(--bulma-duration);
    --progress-width: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        z-index: -1;

        background: conic-gradient(
            var(--progress-color) var(--progress-percent),
            transparent 0
        );
        mask: radial-gradient(
            closest-side,
            transparent calc(100% - var(--progress-width)),
            black calc(100% - var(--progress-width) + 0.5px)
        );
    }

    &:not([style*="percent: 0%"]) {
        transition: --progress-percent var(--progress-duration);
    }

    &.is-success {
        --progress-color: hsl(153, 53%, 53%);
    }
    &.is-danger {
        --progress-color: red;
    }
}

/* end circle-progress */
