@charset "UTF-8";

@import "bulma.min.css";

:root {
    color-scheme: light dark;

    --bulma-block-spacing: var(--bulma-field-block-spacing);
    --bulma-hr-margin: var(--bulma-block-spacing) 0;
    --bulma-hr-height: 1px;

    --scheme-delta: 6%;

    --gap-indent: 0.5rem;
    --gap-indent-mini: 0.375rem;

    --clip-text-mask: linear-gradient(to left, transparent, black 2em);

    --discarded-text-color: light-dark(var(--bulma-text-60), var(--bulma-text-40));

    --bulma-scheme-main-quater: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), var(--bulma-scheme-main-quater-l));
}

[data-theme=light] {
    color-scheme: light;

    --bulma-scheme-main-l: 100%;
    --bulma-scheme-main-bis-l: calc(var(--bulma-scheme-main-l) - var(--scheme-delta));
    --bulma-scheme-main-ter-l: calc(var(--bulma-scheme-main-bis-l) - var(--scheme-delta));
    --bulma-scheme-main-quater-l: calc(var(--bulma-scheme-main-ter-l) - var(--scheme-delta));

    --bulma-background-l: calc(96% - var(--scheme-delta) * 2);
}

[data-theme=dark] {
    color-scheme: dark;

    --bulma-scheme-h: 248;
    --bulma-scheme-s: 11%;
    --bulma-scheme-main-l: 12%;

    /* --bulma-scheme-main-l: 11%; */
    --bulma-scheme-main-bis-l: calc(var(--bulma-scheme-main-l) + var(--scheme-delta));
    --bulma-scheme-main-ter-l: calc(var(--bulma-scheme-main-bis-l) + var(--scheme-delta));
    --bulma-scheme-main-quater-l: calc(var(--bulma-scheme-main-ter-l) + var(--scheme-delta));

    --bulma-background-l: calc(14% + var(--scheme-delta) * 2);
}
