* {
    font-size: 15px;
}

body {
    background-color: #f9f9fa;
    padding: 0 6px;
}

#simple-tab-groups-options > div {
    max-width: 99%;
}

hr {
    margin: 10px -4px;
    color: transparent;
    border-top: 1px solid #e3e3e3;
}

.hotkey > :not(:last-child) {
    margin-right: 5px;
}

.hotkey > .control {
    width: 200px;
}

.hotkey > .delete-button {
    line-height: 0;
}

.hotkey > .notification {
    margin: 0;
}

.hotkey [data-hotkey-custom-group] {
    max-width: 500px;
}

.browser-action-color-wrapper > .control:last-child {
    min-width: 44px;
}
