@import "chrome://browser/content/usercontext/usercontext.css";

#stg-select-group-dialog {
    * {
        margin: unset;
        padding: unset;
        border-radius: unset;
        background-color: unset;
        box-shadow: unset;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    --indent: .75rem;
    --indent-small: .4rem;
    --border-radius: 5px;
    --font-family: system-ui, sans-serif;
    --font-size: 15px;
    --font-weight: 400;

    font-size: var(--font-size);
    font-weight: var(--font-weight);
    user-select: none;
    z-index: 2147483647;
    background-color: transparent;
    padding: 0;
    margin: auto;
    border: 0;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    outline: none;

    color-scheme: light;

    &[data-theme="dark"] {
        color-scheme: dark;
    }

    --text-color: light-dark(hsl(0, 0%, 20%), hsl(0, 0%, 88%));
    --text-focus-color: light-dark(hsl(0, 0%, 73%), hsl(0, 0%, 34%));
    --background-color: light-dark(hsl(0, 0%, 98%), hsl(0, 0%, 27%));
    --background-focus-color: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 40%));

    .stg-has-text {
        color: var(--text-color) !important;
        font-family: var(--font-family) !important;
        font-size: var(--font-size) !important;
        font-weight: var(--font-weight) !important;
        line-height: calc(var(--font-size) * 1.5) !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .stg-main {
        background-color: var(--background-color) !important;
        border-radius: var(--border-radius);
        padding: var(--indent);
        min-width: 600px;
        max-width: 75vw;
        white-space: nowrap;

        .stg-header {
            text-align: center;
            margin-block-end: var(--indent-small);
        }

        .stg-groups {
            display: flex;
            flex-direction: column;
            gap: 0;
            overflow-y: auto;
            min-height: 150px;
            max-height: calc(100vh - 100px);
            scrollbar-width: thin;

            .stg-group {
                display: flex;
                align-items: center;
                gap: var(--indent);
                min-height: calc(var(--font-size) * 2);
                padding: 0 var(--indent-small);
                border-radius: var(--border-radius);
                cursor: default;
                outline: none;
                overflow: hidden;
                border: 0;

                &:not([disabled]):hover,
                &:not([disabled]):focus {
                    color: var(--text-focus-color) !important;
                    background-color: var(--background-focus-color) !important;
                }

                &[disabled] {
                    cursor: not-allowed;
                    opacity: .5;
                }

                figure {
                    --image-size: 16px;

                    position: relative;
                    margin: 0;
                    line-height: 0;
                    width: var(--image-size);
                    height: var(--image-size);

                    img {
                        width: var(--image-size);
                        height: var(--image-size);
                        min-width: var(--image-size);
                        min-height: var(--image-size);
                        position: relative !important;
                    }
                }

                .stg-group-sticky::after {
                    content: '📌';
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    font-size: 10px !important;
                    line-height: 1 !important;
                }
            }
        }
    }
}
