:root {
    --indent: 10px;
    --color-light-gray: #eceded;
    --color-gray: #e3e3e3;
    --color-dark-gray: #d4d4d4;
    --color-dark-dark-gray: #bababa;
}

html {
    overflow-x: hidden;
    font-size: 13px;
    min-width: 348px;
    max-width: 425px;
}

.hr { /* fix FF UI bugs on margin when scrolling */
    height: calc((var(--indent) * 2) + 1px);
    position: relative;
}

.hr::after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    top: 50%;
    width: 100%;
    background-color: var(--color-gray);
}

.hr,
.spacer,
#stg,
#searchWrapper,
#result {
    background-color: #ffffff;
}

#stg {
    min-width: 348px;
    max-width: 425px;
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto;
}

#loading {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    justify-content: center;
}

#loading > div {
    width: 5vw;
    height: 4px;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 2px;
    transition: width .4s ease;
}

.group-circle {
    width: 14px;
    height: 14px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    vertical-align: -3px;
}

.spacer { /* fix FF UI bugs on margin then scrolling */
    min-height: var(--indent);
}

/* END HELPERS */
#searchWrapper {
    padding: var(--indent);
}

#searchTabs {
    background: url('chrome://browser/skin/search-glass.svg') no-repeat 4px center;
    padding-left: calc(16px + (2 * 4px));
}

.item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: default;
    height: 28px;
    min-height: 28px;
    padding-left: var(--indent);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.item > :last-child {
    padding-right: var(--indent);
}

.item.is-active,
.item.is-hover,
.item:not(.no-hover):hover {
    border-top-color: var(--color-dark-dark-gray);
    border-bottom-color: var(--color-dark-dark-gray);
}

.item.is-hover,
.item:not(.no-hover):not(.is-active):hover {
    background-color: var(--color-light-gray);
}

.item.is-active {
    background-color: var(--color-gray);
}

.item .hover:hover {
    background-color: var(--color-dark-gray);
}

.item .item-icon {
    width: 20px;
    max-width: 20px;
    min-width: 20px;
    text-align: center;
    line-height: 1;
}

.item .item-title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}

.item .item-action {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding-left: 5px;
    white-space: nowrap;
}

.item .item-action > :not(:first-child) {
    margin-left: 5px;
}

.item .item-title .bordered[style*="border-bottom"] {
    display: inline-block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.item .flex-on-hover {
    display: none;
}

.item:hover .flex-on-hover {
    display: flex;
}

.tabs-list > .my-tabs > li:first-child {
    margin-top: 10px;
}

.tabs-list .group-info.item .item-title {
    text-align: center;
}

.groups .item .item-action {
    width: 100px;
    min-width: 100px;
    line-height: 1;
}

.groups .tabs-text {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

/* .group-icon,
.tab-icon { */
.icon {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 0;
}

.is-vertical-separator {
    background-color: var(--color-dark-gray);
    width: 1px;
    height: 75%;
}

#stg footer {
    height: 45px;
    min-height: 45px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light-gray);
    cursor: default;
}

#stg footer > :hover {
    background-color: var(--color-gray); /* dark-dark */
}

#stg footer > .manage-groups,
#stg footer > .settings {
    padding: 0 20px;
}


/* Drag & Drop Styles */
#stg .drag-over {
    outline: 2px dashed rgba(0, 0, 0, 0.5) !important;
    outline-offset: -3px;
}

#stg .drag-moving {
    opacity: 0.4;
}


/* media */
/*
@media screen and (min-height: 600px) {
    #stg {
        padding-right: 17px;
    }
}
 */

