<!DOCTYPE html>
<html>

<head>
    <title>Simple Tab Groups - translation utility</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <style type="text/css">
    .textarea {
        resize: both;
        min-width: auto;
    }
    .text-break-all {
        word-break: break-all;
    }
    </style>
</head>

<body>
    <main id="content" class="container is-fluid" style="padding-top: 20px">
        <header>
            <h4 class="title is-4">Simple Tab Groups - translation utility</h4>

            <div class="columns is-multiline">
                <div class="column">
                    <p class="subtitle">Branch:</p>
                    <div class="control has-icons-left">
                        <div :class="['select is-fullwidth', {'is-danger': !branch, 'is-loading': branchesLoading}]">
                            <select v-model="branch" :disabled="!componentName">
                                <option v-for="br in branches" :value="br" v-text="br"></option>
                            </select>
                        </div>
                        <span class="icon is-left">
                            <i class="fa fa-code-fork"></i>
                        </span>
                    </div>
                </div>
                <div class="column">
                    <p class="subtitle">Select component:</p>
                    <div class="control">
                        <div :class="['select is-fullwidth', {'is-danger': !componentName, 'is-loading': componentLoading}]">
                            <select v-model="componentName">
                                <option v-for="ex in components" :value="ex.name" v-text="ex.name"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <p class="subtitle">Load translation file:</p>
                    <button type="button" class="button is-primary is-fullwidth" @click="clickLoadLocaleFileButton">
                        <span class="icon">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </span>
                        <span>Load translation file</span>
                    </button>
                </div>
                <div class="column">
                    <p class="subtitle">Or load existing locale:</p>
                    <div class="control has-icons-left">
                        <div :class="['select is-fullwidth', {'is-loading': availableLocalesLoading}]">
                            <select v-model="componentLocale" :disabled="!componentName">
                                <option disabled value="">Select component locale</option>
                                <option v-for="locale in locales" :value="locale" v-html="locale"></option>
                            </select>
                        </div>
                        <span class="icon is-left">
                            <i class="fa fa-globe"></i>
                        </span>
                    </div>
                </div>
                <div class="column">
                    <p class="subtitle">Save locale:</p>
                    <button type="button" class="button is-info is-fullwidth" @click="clickSaveLocaleFileButton" :disabled="!componentName">
                        <span class="icon">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </span>
                        <span>Save translation file</span>
                    </button>
                    <br>
                    <span>Please send this file to <a :href="emailHref" target="_blank">email</a></span>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    Current addon version: <span v-html="manifest.version"></span><br>
                    Loaded translation version: <span v-html="locale.version || 'Unknown version'"></span>
                </div>
            </div>

            <div class="columns" v-if="componentName">
                <div class="column">
                    <div class="field">
                        <label class="label" for="locale">
                            Enter locale code (en, en_US, ru_RU, fr_CA, es_MX etc.):
                            <span class="tag is-rounded is-danger">required</span>
                        </label>
                        <div class="control">
                            <input id="locale" :class="['input', {'is-danger': !locale.locale}]" type="text" placeholder="en, en_US, ru_RU, fr_CA, es_MX etc." v-model.trim="locale.locale">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="polyglot">
                            Enter your name:
                            <span class="tag is-rounded">optional</span>
                        </label>
                        <div class="control">
                            <input id="polyglot" class="input" type="text" placeholder="My name" v-model.trim="locale.polyglot">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="columns" v-if="componentName">
            <div class="column">
                <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <th style="width: 15%;">Key</th>
                        <th style="width: 30%;">Default value</th>
                        <th>Translated value</th>
                    </thead>
                    <tbody>
                        <tr v-for="(val, key) in defaultLocale" v-show="!notAllowedKeys.includes(key)" :key="componentName + key">
                            <td class="text-break-all" v-html="key"></td>
                            <td>
                                <span v-if="val.message.includes('\n') && !val.message.includes('<') && !val.message.includes('>')" v-html="val.message.replace(/\n/g, '<br>')"></span>
                                <span v-else v-text="val.message"></span>
                            </td>
                            <td>
                                <div class="columns">
                                    <div class="column">
                                        <div class="field">
                                            <div class="control">
                                                <textarea
                                                    v-if="!showOldValueForKey || showOldValueForKey !== key || (showOldValueForKey == key && !currentLocale[key])"
                                                    :class="['textarea', {
                                                        'is-info': locale[key] && (!currentLocale[key] || !currentLocale[key].message),
                                                        'is-danger': !locale[key]
                                                    }]"
                                                    v-model.trim="locale[key]"
                                                    :placeholder="val.description"
                                                    @input="onChangeMessage"
                                                ></textarea>

                                                <textarea v-if="showOldValueForKey === key && currentLocale[key]" readonly class="textarea" v-model="currentLocale[key].message"></textarea>
                                            </div>
                                        </div>
                                        <div class="field is-grouped" v-if="currentLocale[key] && locale[key] !== currentLocale[key].message">
                                            <div class="control">
                                                <button class="button" @click="showOldValueForKey = showOldValueForKey === key ? null : key">
                                                    <span class="icon">
                                                        <i :class="['fa', showOldValueForKey === key ? 'fa-check-square-o' : 'fa-square-o']" aria-hidden="true"></i>
                                                    </span>
                                                    <span>Old value</span>
                                                </button>
                                            </div>
                                            <div class="control">
                                                <button class="button is-danger" @click="resetValue(key)">Restore old value</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column" v-if="val.placeholders">
                                        <div class="field" v-for="(tag, tagName) in val.placeholders">
                                            Var: <span class="tag is-info is-medium" v-html="'$' + tagName + '$'"></span>
                                            Example: <span v-html="tag.example"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script type="text/javascript" src="./index.js"></script>
</body>

</html>
