<!DOCTYPE html>
<html>

<head>
    <title>Simple Tab Groups - translation utility</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script type="text/javascript" src="./index.js"></script>
    <style type="text/css">
        .text-break-all {
            word-break: break-all;
        }
    </style>
</head>

<body>
    <main id="content" class="container is-fluid" style="padding-top: 20px">
        <header>
            <h4 class="title is-4">Simple Tab Groups - translation utility</h4>
            <div class="columns">
                <div class="column">
                    <button type="button" class="button is-primary is-large" @click="clickLoadLocaleFileButton">
                        <span class="icon is-medium">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                        </span>
                        <span>Load translation file</span>
                    </button>
                </div>
                <div class="column has-text-right">
                    <button type="button" class="button is-info is-large" @click="clickSaveLocaleFileButton">
                        <span class="icon is-medium">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </span>
                        <span>Save translation file</span>
                    </button>
                    <br>
                    <span>Please send this file to <a :href="'mailto:drive4ik@gmail.com?subject=[STG-translation] from ' + (locale.polyglot || 'unknown') + ' - ' + locale.locale" target="_blank">email</a></span>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    Current addon version: <span v-html="manifest.version"></span><br>
                    Loaded translation version: <span v-html="locale.version || 'Unknown version'"></span>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="locale">
                            Enter locale code (en, en_US, ru_RU, fr_CA, es_MX etc.):
                            <span class="tag is-rounded is-danger">required</span>
                        </label>
                        <div class="control">
                            <input id="locale" class="input" type="text" placeholder="en, en_US, ru_RU, fr_CA, es_MX etc." v-model.trim="locale.locale">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="polyglot">
                            Enter your name:
                            <span class="tag is-rounded">optional</span>
                        </label>
                        <div class="control">
                            <input id="polyglot" class="input" type="text" placeholder="My name" v-model.trim="locale.polyglot">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="columns">
            <div class="column">
                <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
                    <thead>
                        <th style="width: 15%;">Key</th>
                        <th style="width: 30%;">Default value</th>
                        <th>Translated value</th>
                    </thead>
                    <tbody>
                        <tr v-for="(val, key) in defaultLocale">
                            <td class="text-break-all" v-html="key"></td>
                            <td v-html="val.message"></td>
                            <td>
                                <div class="columns">
                                    <div class="column">
                                        <div class="control">
                                            <textarea class="textarea" v-model.trim="locale[key]" :placeholder="val.message"></textarea>
                                        </div>
                                    </div>
                                    <div class="column" v-if="val.placeholders">
                                        <div class="field" v-for="(tag, tagName) in val.placeholders">
                                            Var: <span class="tag is-info is-medium" v-html="'$' + tagName + '$'"></span>
                                            Example: <span v-html="tag.example"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>
