html {
    overflow-x: hidden;
}

#stg {
    background-color: #fff;
    width: 425px;
    font-family: Arial;
    font-size: 14px;
}

/* HEPLERS */
#stg .question {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: rgba(10, 10, 10, .2);
    color: #fff;
    text-align: center;
    line-height: 18px;
}

#stg .question:hover {
    background-color: rgba(10, 10, 10, .3);
}

#stg .h-margin-top-10 {
    margin-top: 10px;
}

#stg .h-margin-bottom-10 {
    margin-bottom: 10px;
}

#stg .size-16 {
    width: 16px;
    height: 16px;
}

#stg .size-20 {
    width: 20px;
    height: 20px;
}

#stg .no-text-select {
    -moz-user-select: none;
    user-select: none;
}

#stg .cursor-pointer {
    cursor: pointer;
}

#stg .circle {
    width: 14px;
    height: 14px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-top;
}

#stg .simple-circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
}

#stg .text-italic {
    font-style: italic;
}

/* END HELPERS */


#stg img {
    vertical-align: middle;
}

#stg .search-wrapper {
    padding: 10px 25px 0 10px;
}

#stg hr {
    margin: 10px 0;
    color: transparent;
    border-top: 1px solid #e3e3e3;
}

#stg .item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    cursor: default;
    height: 28px;
    padding-left: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

#stg .item.is-active,
#stg .item:not(.no-hover):hover {
    border-top-color: #c6c6c6;
    border-bottom-color: #c6c6c6;
}

#stg .item:not(.no-hover):not(.is-active):hover {
    background-color: #eceded; /* light */
}

#stg .item.is-active {
    background-color: #e3e3e3; /* dark */
}

#stg .item .hover:hover {
    background-color: #d4d4d4; /* dark-dark */
}

#stg .tabs-list > .item:first-child {
    margin-top: 10px;
}

#stg .item .item-icon {
    width: 20px;
    max-width: 20px;
    min-width: 20px;
    text-align: center;
    line-height: 1;
}

#stg .item .item-title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    cursor: default;
}

#stg .item .item-action {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding-left: 5px;
    padding-right: 25px;
    white-space: nowrap;
}

#stg .item .item-action > :not(:first-child) {
    margin-left: 5px;
}

#stg .tabs-list .group-info {
    margin-bottom: 5px;
}

#stg .tabs-list .group-info.item .item-title {
    text-align: center;
}

#stg .tabs-list .group-info.item .item-action {
    min-width: 67px;
}

#stg .groups .item .item-action {
    width: 100px;
    min-width: 100px;
    line-height: 1;
    padding-left: 10px;
}

#stg .groups .item .item-action > :not(:first-child) {
    margin-left: 5px;
}

#stg .icon {
    display: inline-block;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

#stg .settings {
    display: flex;
    margin-top: 15px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    cursor: default;
}

#stg .settings:hover {
    background-color: #d4d4d4; /* dark-dark */
}

#stg .settings > :not(:first-child) {
    margin-left: 5px;
}
