:root {
    /* --color-light-gray: #eceded; */
}

html {
    font-family: Arial;
    font-size: 14px;
}

#manage {
    height: 100vh;
    /* width: 100vw; */
}

/* HEPLERS */
.is-hidden {
    display: none !important;
}

.h-margin-top-10 {
    margin-top: 10px;
}

.h-margin-bottom-10 {
    margin-bottom: 10px;
}

.h-margin-left-10 {
    margin-left: 10px;
}

.size-16 {
    width: 16px;
    height: 16px;
}

.no-text-select {
    -moz-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-help {
    cursor: help;
}

.is-full-height {
    height: 100%;
}

.text-italic {
    font-style: italic;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-270 {
    transform: rotate(270deg);
}

.group-circle {
    width: 14px;
    height: 14px;
    margin: 0 auto;
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-top;
}

img {
    vertical-align: middle;
}

/* END HELPERS */


/* FLEX HELPERS */
.is-flex {
    display: flex !important;
}

.is-flex.is-aligin-items-center {
    align-items: center;
}

.is-flex.is-column {
    flex-direction: column;
}

.is-flex > .is-full-width {
    flex-grow: 1;
}

.is-flex > .is-start {
    align-self: flex-start;
}

.is-flex > .is-end {
    align-self: flex-end;
}

#result {
    display: flex;
    /* align-items: baseline; */

    /* display: flex; */
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
}

#result > .group {
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* align-content: stretch; */
    /* height: 200px; */

    /* max */
    /* resize: both; */
    display: flex;
    flex-direction: column;
    border: 2px dashed red;

    margin-right: 10px;
    margin-bottom: 10px;
}

#result > .group > .header {
    display: flex;
}

#result > .group > .header > .title {
    flex-grow: 1;
}

#result > .group > .body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;

    resize: both;

    overflow-y: auto;
    padding: 10px;
    /* justify-content: space-around; */

    width: 850px;
    height: 220px;
}

#result > .group .tab {
    border: 1px solid black;
    height: calc(100% / 2);
    width: calc(100% / 8);
    margin-right: 10px;
    margin-bottom: 10px;
}
